<!DOCTYPE html>
<html lang="en">
  <head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Code Fellowship</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
  </head>
<body>
  <header th:fragment="header">
    <h1>Code Fellowship</h1>
    <p>The place where people learning to code can communicate along their journey</p>
    <nav>
      <a href="/">Home</a>
      <a href="/signup">Sign Up</a>
    </nav>
  </header>

  <footer th:fragment="footer">
    <p>&copy; 2020 codefellowship.com<p></p>
  </footer>
</body>
</html>