<!DOCTYPE html>
<html lang="en">
  <head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Code Fellowship</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
  </head>
<body>
  <!-- Header Fragment -->
  <header th:fragment="header">
    <h1>Code Fellowship</h1>
    <p>The place where people learning to code can communicate along their journey</p>
    <nav th:if=${user}>
      <a href="/">Home</a>
      <a th:href="'/user/' + ${user.id}">My Profile</a>
      <a href="/logout">Log Out</a>
    </nav>
    <nav th:unless=${user}>
      <a href="/login">Log In</a>
      <a href="/signup">Sign Up</a>
    </nav>
  </header>

  <!-- New Post From -->
  <form th:fragment="new-post-form" class="new-post-form" th:action="'/newPost/' + ${user.id}" method="POST">
    <h3>Create A New Post</h3>
    <textarea name="body" placeholder="Post your thoughts here" required></textarea>
    <input type="submit" value="Submit">
  </form>

  <!-- Follow New User -->
  <div th:fragment="user-list" class="user-list-container">
    <h3>Make A New Connection!</h3>
    <div class="user-list">
      <div th:if="${not #lists.contains(user.usersThatIFollow, connection)}" th:each="connection : ${allUsers}" class="user-list-item">
        <a th:href="'/user/' + ${connection.id}"><h4 th:text="${connection.username}">Connection Username</h4></a>
        <h5 th:each="post, iterStat : ${connection.posts}" th:if="${not #lists.isEmpty(connection.posts) and iterStat.index >= iterStat.size-1}" th:text="${connection.posts[iterStat.index].createdAt}">Last Created Date</h5>
        <p th:each="post, iterStat : ${connection.posts}" th:if="${not #lists.isEmpty(connection.posts) and iterStat.index >= iterStat.size-1}" th:text="${connection.posts[iterStat.index].body}">Last Post</p>
        <form th:action="'/user/' + ${user.id} + '/connect/' + ${connection.id}" method="POST">
          <input type="submit" value="Connect">
        </form>
      </div>
    </div>
  </div>

  <!-- Users I Follow -->
  <div th:fragment="followed-users" class="followed-users-container">
    <h3 th:text="${user.firstName} + '\'s Connections'"></h3>
    <div class="followed-users-list">
      <div th:if="${#lists.contains(user.usersThatIFollow, connection)}" th:each="connection : ${allUsers}" class="followed-user">
        <a th:href="'/user/' + ${connection.id}"><h4 th:text="${connection.username}">Connection Username</h4></a>
        <h5 th:each="post, iterStat : ${connection.posts}" th:if="${not #lists.isEmpty(connection.posts) and iterStat.index >= iterStat.size-1}" th:text="${connection.posts[iterStat.index].createdAt}">Last Created Date</h5>
        <p th:each="post, iterStat : ${connection.posts}" th:if="${not #lists.isEmpty(connection.posts) and iterStat.index >= iterStat.size-1}" th:text="${connection.posts[iterStat.index].body}">Last Post</p>
        <form th:action="'/user/' + ${user.id} + '/disconnect/' + ${connection.id}" method="POST">
          <input type="submit" value="Stop Following">
        </form>
      </div>
    </div>
  </div>

  <!-- User Posts -->
  <div th:fragment="user-posts-home" class="user-posts-home">
    <h3 th:text="${user.firstName} + '\'s Posts'">User's Posts</h3>
    <ul>
      <li th:each="post : ${user.posts}">
        <h4 th:text="${post.createdAt}">Creation Date</h4>
        <p th:text="${post.body}">Post Body</p>
      </li>
    </ul>
  </div>

  <!-- Profile Posts -->
  <div th:fragment="user-posts-profile" class="user-posts-profile">
    <h3 th:text="${user.firstName} + '\'s Posts'">User's Posts</h3>
    <ul>
      <li th:each="post : ${user.posts}">
        <h4 th:text="${post.createdAt}">Creation Date</h4>
        <p th:text="${post.body}">Post Body</p>
      </li>
    </ul>
  </div>

  <div th:fragment="site-info" class="site-info">
    <h3>Join Others On Your Journey</h3>
    <p>Code Fellowship was founded to allow students, junior developers, or anyone looking to connect with other life long learners. We all share a common passion for learning how to devlop clean, secure and performant code. You will gain knowledge that will allow you to cut the learning cycle into a fraction of what it would be if you studied alone. The real benefit of Code Fellowship are the lasting friendships you will carry with you for the rest of your career. Sign up today to begin your journey!</p>
  </div>

  <!-- Footer Fragment -->
  <footer th:fragment="footer">
    <p>&copy; 2020 codefellowship.com</p>
  </footer>
</body>
</html>