<!DOCTYPE html>
<html lang="en">
  <head th:replace="fragments/fragments :: head"></head>
<body>
  
  <!-- Header -->
  <header th:replace="fragments/fragments :: header"></header>

  <main>

    <!-- New Post Form -->
    <form th:replace="fragments/fragments :: new-post-form"></form>

    <!-- Add New Connection -->
    <div th:replace="fragments/fragments :: user-list"></div>

    <!-- Followed Users -->
    <div th:replace="fragments/fragments :: followed-users"></div>
    
    <!-- User Posts -->
    <ul th:replace="fragments/fragments :: user-posts-home"></ul>

  </main>

  <!-- Footer -->
  <footer th:replace="fragments/fragments :: footer"></footer>

</body>
</html>