<!DOCTYPE html>
<html lang="en">
  <head th:replace="fragments/fragments :: head"></head>
<body>

  <!-- Header -->
  <header th:replace="fragments/fragments :: header"></header>

  <main>

    <!-- User Profile -->
    <div class="user-profile">
      <img src="/images/yoda.jpg" alt="yoda profile pic">
      <h2 th:text="${user.firstName} + ' ' + ${user.lastName}">Full Name</h2>
      <p th:text="'DOB: ' + ${user.dateOfBirth}">Date of Birth</p>
      <p th:text="'Bio: ' + ${user.bio}">User Bio</p>
    </div>

    <!-- User Posts -->
    <ul th:replace="fragments/fragments :: user-posts"></ul>

  </main>

  <!-- Footer -->
  <footer th:replace="fragments/fragments :: footer"></footer>
  
</body>
</html>